{% load i18n %}{% autoescape off %}
{% trans "Hello!" %}

{% blocktrans %}You're receiving this email because you or someone else has requested a password reset for your user account.{% endblocktrans %}

{% trans "It can be safely ignored if you did not request a password reset. Click the link below to reset your password." %}

{#{{ frontend_protocol }}://{{ frontend_domain }}/reset-password/{{ uid }}/{{ token }}/#}

{% trans "CUSTOM SERIALIZER IS WORKING!" %}

{% trans "Thank you!" %}
{% endautoescape %}