# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
*.egg-info
.coverage
.pytest_cache

# Django
*.log
db.sqlite3
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile*
.dockerignore

# Documentation
README.md
*.md