[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
# Temporarily disabled to debug - healthcheckPath = "/health/"
healthcheckTimeout = 60
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
